.container
    .jumbotron
        h1 Congratulations
        p Bootstrap boilerplate for Harp is successfully installed. (With sandstone bitches :D !)
        p
            a.btn.btn-primary.btn-lg(href="#{baseUrl}/docs") View the documentation
        img(src="/images/small_logo.png" alt="")
