div.container
  .jumbotron.semi-transparent  
    h1.text-center Our Projects
    p This is our page to show off screenshots which link to all our projects so far. This text will be changed to something more suitable at a later stage.
      
    //a.btn.btn-primary.btn-lg(href="#") Learn More
    p

    h2.text-center Activitar Portal
    a(href="http://activitar.net/")
      img.img-thumbnail.centered-image(src= "/images/Projects/activitar.png" href="http://activitar.net/")
    div.separator-small
    h2.text-center Blyde Canyon Adventure Centre
    img.img-thumbnail.centered-image(src= "/images/Projects/blydecanyon.png")
    div.separator-small
    h2.text-center Activity Explorer
    img.img-thumbnail.centered-image(src= "/images/Projects/activityexplorer.png")
    div.separator-small
    h2.text-center Digaritmo
    img.img-thumbnail.centered-image(src= "/images/Projects/digaritmo.png")
    div.separator-small
    h2.text-center Gametrackers
    img.img-thumbnail.centered-image(src= "/images/Projects/gametrac.png")


