//-
  This site is built with the Harp static generator.
  Refer to www.harpjs.com for more info/docs.


.jumbotron
  img.logo-main(src="/images/picture.png" alt="")
  .container


.container.text-center
  .row
    .col-sm-2
    .col-sm-8
      h1 Full-Stack Web Development
      hr
      p A dedicated team of software engineers building robust solutions to suit your needs and keep you in the lead.
  .row
    .col-sm-4.border-box.semi-transparent
      h1 Backend
      .circle-link
        div.circle
          i.fa.fa-database.icon-homepage
      h4 Your data is the core of your business. We help you protect, analyse and scale your date to millions of users.

    .col-sm-4.border-box.semi-transparent
      h1 Server Side
      .circle-link
        div.circle
          i.fa.fa-server.icon-homepage
      h4 We write fast, maintainable well structured code, allowing us spend more time adding features instead of fixing bugs.

    .col-sm-4.border-box.semi-transparent
      h1 Client Side
      .circle-link
        div.circle
          i.fa.fa-mobile.icon-homepage
      h4 We build intuitive applications that respond instantly and interact seamlessly across web, iOS and Android environments.

.separator-main
  .container.text-center
    h1 Let's talk!
    h4 If you are in need of an engineering team for your next software project or would like to see our portfolio send us an email at:
    h3 contact@marula.io

.container
  .row.text-center
    .col-sm-2
    .col-sm-8
      h2 We're currently based in Stellenbosch.
      hr

#map