.jumbotron
  //img.logo-main(src="/images/logo-header.png" alt="")
  .container
    .row.text-center
      .col-sm-10.col-center
        h1.text-center About Us
        p Company information and contact details go here.
        a.btn.btn-primary.btn-lg(href="#") Learn More

